/* style.css : choo-choo stylesheet */

/* */
* {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

body {
  background-image: url("../img/train-5.jpeg");
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 10px auto;
  padding: 0 0 0 20px;
  color: #eee;
}

p {
  font-size: 24px;
  line-height: 28px;
  margin: 5px px;
  padding: 2px  5px;
}

#schedule-table th, td {
      display: inline-block;
      width: 16.575%;
}


train-info-form {
  z-index: 10;
  border-radius:5px;
  /* border:20px solid rgba(0,0,0,0.3); */
  margin: 10px 2px;
  /* display:flex; */
}

.modify:hover {
  color: blue;
}

.last-col-item {
  padding: auto 5px;
}

/* END OF FILE */